{% extends 'account/base.html' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="card card-border-color card-border-color-primary">
    <div class="card-header">
        <img src="/static/custom/img/logomarca.png" alt="logo" height="90" class="logo-img">
        <span class="splash-description">Alteração de senha</span>
    </div>
    <div class="card-body">
            <form method="post">{% csrf_token %}
                {{ form }}
                <div class="form-group row login-submit">
                    <div class="col-6">
                        <a class="btn btn-secondary btn-xl" href="{% url 'dashboard' %}">Cancelar</a>
                    </div>
                    <div class="col-6">
                        <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Alterar</button>
                    </div>
                </div>
            </form>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}