{% extends 'account/base.html' %} 

{% block content %}
<div class="card card-border-color card-border-color-primary">
    <div class="card-header">
        <img src="/static/custom/img/logomarca.png" alt="logo" width="130" height="90" class="logo-img">
        <span class="splash-description">Please enter your user information.</span>
    </div>
    <div class="card-body">
        <form action="{% url 'account_login' %}" method="POST" id="sign_in">{% csrf_token %} 
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> 
            {% endif %}
            <div class="login-form">
                <div class="form-group">
                    <input id="{{ form.login.id_for_label }}" name="{{ form.login.html_name }}" type="text" placeholder="Username" autocomplete="off"
                        class="form-control">
                </div>
                <div class="form-group">
                    <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" placeholder="Password"
                        class="form-control">
                </div>
                <small>
                    {{ form.non_field_errors }}
                </small>
                <div class="form-group row login-tools">
                    <div class="col-6 login-remember">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>
                    <div class="col-6 login-forgot-password">
                        <a href="/static/dashboard/dist/html/assets/pages-forgot-password.html">Forgot Password?</a>
                    </div>
                </div>
                <div class="form-group row login-submit">
                    <div class="col-6">
                        <a class="btn btn-secondary btn-xl" href="{% url 'account_signup' %}">Sign up</a>
                    </div>
                    <div class="col-6">
                        <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Sign in</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %} 
{% block javascript %}
{% endblock %}