*.pyc
/db.sqlite3
db.sqlite3
.DS_Store
# */settings/dev.py
/staticfiles/*
/mediafiles/*
#/media/*
__pycache__/

debug.log

# coverage result
.coverage

# pycharm
.idea

# data
*.dump

# npm
node_modules/
npm-debug.log

#Folders
.DS_Store

# Webpack
/assets/bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
.env
.venv
/venv/
/env/
/output/
/cache/

# Spritesmith
spritesmith-generated/
spritesmith.scss
