{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="/static/custom/img/logomarca.png"> -->
    <title>Cotação</title>
    <link rel="stylesheet" type="text/css" href="/static/dashboard/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/dashboard/assets/lib/material-design-icons/css/material-design-iconic-font.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/dashboard/assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css"/>
    <link rel="stylesheet" type="text/css" href="/static/dashboard/assets/lib/jqvmap/jqvmap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/dashboard/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/static/dashboard/assets/css/app.css" type="text/css" />

    {% block css %} {% endblock %}
</head>

<body>
    <div class="be-wrapper be-fixed-sidebar">
        {% include 'dashboard/includes/top_bar.html' %}
        {% block menu %} {% endblock %}
        <div class="be-content">
            <div class="main-content container-fluid">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <script src="/static/dashboard/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/js/app.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/jquery.flot.time.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/countup/countUp.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="/static/dashboard/assets/js/app-dashboard.js" type="text/javascript"></script>

{% block javascript %}
{% endblock %}
</body>

</html>